<ion-header>
    <ion-navbar>
        <ion-title>
            CodeTribe Curriculum
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="content">
    <ion-list no-lines>
        <ion-list-header>
            CodeTribe Curriculum
        </ion-list-header>


        <button ion-item *ngFor="let course of arrCourses" detail-none (click)="goToDisplay(course)">

  
  <ion-icon name="{{course.icon}}" item-left></ion-icon>
  <h2>{{course.title}}</h2>
  <h3> Duration: {{course.weeks}} weeks</h3>
  <h3> Course: {{course.number}}</h3>

  <div *ngFor="let lesson of course.lessons;">
      <h4> title: {{lesson.title}}</h4>
      <h5> number: {{lesson.number}}</h5>
      <h6> description: {{lesson.description}}</h6>

  </div>
</button>
    </ion-list>
</ion-content>